[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyspark = "==2.4.4"
ipython = "*"
"flake8" = "*"
requests = "==2.22.0"
geocoder = "==1.38.1"
pylint = "*"
simple-salesforce = "==0.74.3"
pandas = "*"

[requires]
python_version = "3.7.4"
